{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Azure Service Fabric Resource Provider API Client",
        "title": "ServiceFabricManagementClient",
        "version": "2017-07-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2017-07-01-preview/servicefabric.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "servicefabric",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.ServiceFabric/operations": {
            "get": {
                "description": "",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The version of the ServiceFabric resouce provider api",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the result of the request to list Service Fabric operations.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of operation list results if there are any.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Service Fabric operations supported by the Microsoft.ServiceFabric resource provider.",
                                            "items": {
                                                "description": "Available operation list result",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that represents the operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "Operation description",
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "The operation that can be performed.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "The name of the provider.",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "The resource on which the operation is performed",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "The name of the operation.",
                                                        "type": "string"
                                                    },
                                                    "nextLink": {
                                                        "description": "The URL to use for getting the next set of results.",
                                                        "type": "string"
                                                    },
                                                    "origin": {
                                                        "description": "Origin result",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The error details.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "The error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists all of the available ServiceFabric Resource Manager REST API operations.",
                "tags": [
                    "Operations"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters": {
            "get": {
                "description": "List cluster resource\n",
                "operationId": "Clusters_List",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The customer subscription identifier",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Get cluster  successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Cluster list results",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The cluster resource properties"
                                                    },
                                                    {
                                                        "description": "The resource model definition.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    },
                                                    {
                                                        "properties": {
                                                            "properties": {
                                                                "description": "The cluster resource properties",
                                                                "x-ms-client-flatten": true,
                                                                "properties": {
                                                                    "addOnFeatures": {
                                                                        "description": "The list of add-on features to enable in the cluster.",
                                                                        "items": {
                                                                            "description": "Available cluster add-on features",
                                                                            "enum": [
                                                                                "RepairManager",
                                                                                "DnsService",
                                                                                "BackupRestoreService"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "availableClusterVersions": {
                                                                        "description": "The Service Fabric runtime versions available for this cluster.",
                                                                        "items": {
                                                                            "description": "The detail of the Service Fabric runtime version result",
                                                                            "properties": {
                                                                                "codeVersion": {
                                                                                    "description": "The Service Fabric runtime version of the cluster.",
                                                                                    "type": "string"
                                                                                },
                                                                                "environment": {
                                                                                    "description": "Indicates if this version is for Windows or Linux operating system.",
                                                                                    "enum": [
                                                                                        "Windows",
                                                                                        "Linux"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "supportExpiryUtc": {
                                                                                    "description": "The date of expiry of support of the version.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "azureActiveDirectory": {
                                                                        "description": "The AAD authentication settings of the cluster.",
                                                                        "properties": {
                                                                            "clientApplication": {
                                                                                "description": "Azure active directory client application id.",
                                                                                "type": "string"
                                                                            },
                                                                            "clusterApplication": {
                                                                                "description": "Azure active directory cluster application id.",
                                                                                "type": "string"
                                                                            },
                                                                            "tenantId": {
                                                                                "description": "Azure active directory tenant id.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "certificate": {
                                                                        "description": "The certificate to use for securing the cluster. The certificate provided will be used for  node to node security within the cluster, SSL certificate for cluster management endpoint and default  admin client.",
                                                                        "properties": {
                                                                            "thumbprint": {
                                                                                "description": "Thumbprint of the primary certificate.",
                                                                                "type": "string"
                                                                            },
                                                                            "thumbprintSecondary": {
                                                                                "description": "Thumbprint of the secondary certificate.",
                                                                                "type": "string"
                                                                            },
                                                                            "x509StoreName": {
                                                                                "description": "The local certificate store location.",
                                                                                "enum": [
                                                                                    "AddressBook",
                                                                                    "AuthRoot",
                                                                                    "CertificateAuthority",
                                                                                    "Disallowed",
                                                                                    "My",
                                                                                    "Root",
                                                                                    "TrustedPeople",
                                                                                    "TrustedPublisher"
                                                                                ],
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "thumbprint"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "clientCertificateCommonNames": {
                                                                        "description": "The list of client certificates referenced by common name that are allowed to manage the cluster.",
                                                                        "items": {
                                                                            "description": "Describes the client certificate details using common name.",
                                                                            "properties": {
                                                                                "certificateCommonName": {
                                                                                    "description": "The common name of the client certificate.",
                                                                                    "type": "string"
                                                                                },
                                                                                "certificateIssuerThumbprint": {
                                                                                    "description": "The issuer thumbprint of the client certificate.",
                                                                                    "type": "string"
                                                                                },
                                                                                "isAdmin": {
                                                                                    "description": "Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster.",
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "certificateCommonName",
                                                                                "isAdmin",
                                                                                "certificateIssuerThumbprint"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "clientCertificateThumbprints": {
                                                                        "description": "The list of client certificates referenced by thumbprint that are allowed to manage the cluster.",
                                                                        "items": {
                                                                            "description": "Describes the client certificate details using thumbprint.",
                                                                            "properties": {
                                                                                "certificateThumbprint": {
                                                                                    "description": "The thumbprint of the client certificate.",
                                                                                    "type": "string"
                                                                                },
                                                                                "isAdmin": {
                                                                                    "description": "Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster.",
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "certificateThumbprint",
                                                                                "isAdmin"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "clusterCodeVersion": {
                                                                        "description": "The Service Fabric runtime version of the cluster. This property can only by set the user when **upgradeMode** is set to 'Manual'. To get list of available Service Fabric versions for new clusters use [ClusterVersion API](./ClusterVersion.md). To get the list of available version for existing clusters use **availableClusterVersions**.",
                                                                        "type": "string"
                                                                    },
                                                                    "clusterEndpoint": {
                                                                        "description": "The Azure Resource Provider endpoint. A system service in the cluster connects to this  endpoint.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "clusterId": {
                                                                        "description": "A service generated unique identifier for the cluster resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "clusterState": {
                                                                        "description": "The current state of the cluster.\n\n  - WaitingForNodes - Indicates that the cluster resource is created and the resource provider is waiting for Service Fabric VM extension to boot up and report to it.\n  - Deploying - Indicates that the Service Fabric runtime is being installed on the VMs. Cluster resource will be in this state until the cluster boots up and system services are up.\n  - BaselineUpgrade - Indicates that the cluster is upgrading to establishes the cluster version. This upgrade is automatically initiated when the cluster boots up for the first time.\n  - UpdatingUserConfiguration - Indicates that the cluster is being upgraded with the user provided configuration.\n  - UpdatingUserCertificate - Indicates that the cluster is being upgraded with the user provided certificate.\n  - UpdatingInfrastructure - Indicates that the cluster is being upgraded with the latest Service Fabric runtime version. This happens only when the **upgradeMode** is set to 'Automatic'.\n  - EnforcingClusterVersion - Indicates that cluster is on a different version than expected and the cluster is being upgraded to the expected version.\n  - UpgradeServiceUnreachable - Indicates that the system service in the cluster is no longer polling the Resource Provider. Clusters in this state cannot be managed by the Resource Provider.\n  - AutoScale - Indicates that the ReliabilityLevel of the cluster is being adjusted.\n  - Ready - Indicates that the cluster is in a stable state.\n",
                                                                        "enum": [
                                                                            "WaitingForNodes",
                                                                            "Deploying",
                                                                            "BaselineUpgrade",
                                                                            "UpdatingUserConfiguration",
                                                                            "UpdatingUserCertificate",
                                                                            "UpdatingInfrastructure",
                                                                            "EnforcingClusterVersion",
                                                                            "UpgradeServiceUnreachable",
                                                                            "AutoScale",
                                                                            "Ready"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "diagnosticsStorageAccountConfig": {
                                                                        "description": "The storage account information for storing Service Fabric diagnostic logs.",
                                                                        "properties": {
                                                                            "blobEndpoint": {
                                                                                "description": "The blob endpoint of the azure storage account.",
                                                                                "type": "string"
                                                                            },
                                                                            "protectedAccountKeyName": {
                                                                                "description": "The protected diagnostics storage key name.",
                                                                                "type": "string"
                                                                            },
                                                                            "queueEndpoint": {
                                                                                "description": "The queue endpoint of the azure storage account.",
                                                                                "type": "string"
                                                                            },
                                                                            "storageAccountName": {
                                                                                "description": "The Azure storage account name.",
                                                                                "type": "string"
                                                                            },
                                                                            "tableEndpoint": {
                                                                                "description": "The table endpoint of the azure storage account.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "blobEndpoint",
                                                                            "protectedAccountKeyName",
                                                                            "queueEndpoint",
                                                                            "storageAccountName",
                                                                            "tableEndpoint"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "fabricSettings": {
                                                                        "description": "The list of custom fabric settings to configure the cluster.",
                                                                        "items": {
                                                                            "description": "Describes a section in the fabric settings of the cluster.",
                                                                            "properties": {
                                                                                "name": {
                                                                                    "description": "The section name of the fabric settings.",
                                                                                    "type": "string"
                                                                                },
                                                                                "parameters": {
                                                                                    "description": "The collection of parameters in the section.",
                                                                                    "items": {
                                                                                        "description": "Describes a parameter in fabric settings of the cluster.",
                                                                                        "properties": {
                                                                                            "name": {
                                                                                                "description": "The parameter name of fabric setting.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "value": {
                                                                                                "description": "The parameter value of fabric setting.",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "name",
                                                                                "parameters"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "managementEndpoint": {
                                                                        "description": "The http management endpoint of the cluster.",
                                                                        "type": "string"
                                                                    },
                                                                    "nodeTypes": {
                                                                        "description": "The list of node types in the cluster.",
                                                                        "items": {
                                                                            "description": "Describes a node type in the cluster, each node type represents sub set of nodes in the cluster.",
                                                                            "properties": {
                                                                                "applicationPorts": {
                                                                                    "description": "The range of ports from which cluster assigned port to Service Fabric applications.",
                                                                                    "properties": {
                                                                                        "endPort": {
                                                                                            "description": "End port of a range of ports",
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "startPort": {
                                                                                            "description": "Starting port of a range of ports",
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "endPort",
                                                                                        "startPort"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "capacities": {
                                                                                    "additionalProperties": {
                                                                                        "description": "Capacity tag value",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "description": "The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much resource a node has.",
                                                                                    "type": "object"
                                                                                },
                                                                                "clientConnectionEndpointPort": {
                                                                                    "description": "The TCP cluster management endpoint port.",
                                                                                    "type": "integer"
                                                                                },
                                                                                "durabilityLevel": {
                                                                                    "description": "The durability level of the node type. Learn about [DurabilityLevel](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity).\n\n  - Bronze - No privileges. This is the default.\n  - Silver - The infrastructure jobs can be paused for a duration of 30 minutes per UD.\n  - Gold - The infrastructure jobs can be paused for a duration of 2 hours per UD. Gold durability can be enabled only on full node VM skus like D15_V2, G5 etc.\n",
                                                                                    "enum": [
                                                                                        "Bronze",
                                                                                        "Silver",
                                                                                        "Gold"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "ephemeralPorts": {
                                                                                    "description": "The range of empheral ports that nodes in this node type should be configured with.",
                                                                                    "properties": {
                                                                                        "endPort": {
                                                                                            "description": "End port of a range of ports",
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "startPort": {
                                                                                            "description": "Starting port of a range of ports",
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "endPort",
                                                                                        "startPort"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "httpGatewayEndpointPort": {
                                                                                    "description": "The HTTP cluster management endpoint port.",
                                                                                    "type": "integer"
                                                                                },
                                                                                "isPrimary": {
                                                                                    "description": "The node type on which system services will run. Only one node type should be marked as primary. Primary node type cannot be deleted or changed for existing clusters.",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "name": {
                                                                                    "description": "The name of the node type.",
                                                                                    "type": "string"
                                                                                },
                                                                                "placementProperties": {
                                                                                    "additionalProperties": {
                                                                                        "description": "Placement tag value",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "description": "The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run.",
                                                                                    "type": "object"
                                                                                },
                                                                                "reverseProxyEndpointPort": {
                                                                                    "description": "The endpoint used by reverse proxy.",
                                                                                    "type": "integer"
                                                                                },
                                                                                "vmInstanceCount": {
                                                                                    "description": "The number of nodes in the node type. This count should match the capacity property in the corresponding VirtualMachineScaleSet resource.",
                                                                                    "maximum": 2147483647,
                                                                                    "minimum": 1,
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "clientConnectionEndpointPort",
                                                                                "httpGatewayEndpointPort",
                                                                                "isPrimary",
                                                                                "name",
                                                                                "vmInstanceCount"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "provisioningState": {
                                                                        "description": "The provisioning state of the cluster resource.",
                                                                        "enum": [
                                                                            "Updating",
                                                                            "Succeeded",
                                                                            "Failed",
                                                                            "Canceled"
                                                                        ],
                                                                        "readOnly": true,
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "ProvisioningState"
                                                                        }
                                                                    },
                                                                    "reliabilityLevel": {
                                                                        "description": "The reliability level sets the replica set size of system services. Learn about [ReliabilityLevel](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity).\n\n  - None - Run the System services with a target replica set count of 1. This should only be used for test clusters.\n  - Bronze - Run the System services with a target replica set count of 3. This should only be used for test clusters.\n  - Silver - Run the System services with a target replica set count of 5.\n  - Gold - Run the System services with a target replica set count of 7.\n  - Platinum - Run the System services with a target replica set count of 9.\n",
                                                                        "enum": [
                                                                            "None",
                                                                            "Bronze",
                                                                            "Silver",
                                                                            "Gold",
                                                                            "Platinum"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "reverseProxyCertificate": {
                                                                        "description": "The server certificate used by reverse proxy.",
                                                                        "properties": {
                                                                            "thumbprint": {
                                                                                "description": "Thumbprint of the primary certificate.",
                                                                                "type": "string"
                                                                            },
                                                                            "thumbprintSecondary": {
                                                                                "description": "Thumbprint of the secondary certificate.",
                                                                                "type": "string"
                                                                            },
                                                                            "x509StoreName": {
                                                                                "description": "The local certificate store location.",
                                                                                "enum": [
                                                                                    "AddressBook",
                                                                                    "AuthRoot",
                                                                                    "CertificateAuthority",
                                                                                    "Disallowed",
                                                                                    "My",
                                                                                    "Root",
                                                                                    "TrustedPeople",
                                                                                    "TrustedPublisher"
                                                                                ],
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "thumbprint"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "upgradeDescription": {
                                                                        "description": "The policy to use when upgrading the cluster.",
                                                                        "properties": {
                                                                            "deltaHealthPolicy": {
                                                                                "description": "The delta health policy used when upgrading the cluster.",
                                                                                "properties": {
                                                                                    "maxPercentDeltaUnhealthyApplications": {
                                                                                        "description": "The maximum allowed percentage of applications health degradation allowed during cluster upgrades. The delta is measured between the state of the applications at the beginning of upgrade and the state of the applications at the time of the health evaluation. The check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits. System services are not included in this.",
                                                                                        "maximum": 100,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "maxPercentDeltaUnhealthyNodes": {
                                                                                        "description": "The maximum allowed percentage of nodes health degradation allowed during cluster upgrades. The delta is measured between the state of the nodes at the beginning of upgrade and the state of the nodes at the time of the health evaluation. The check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits.",
                                                                                        "maximum": 100,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "maxPercentUpgradeDomainDeltaUnhealthyNodes": {
                                                                                        "description": "The maximum allowed percentage of upgrade domain nodes health degradation allowed during cluster upgrades. The delta is measured between the state of the upgrade domain nodes at the beginning of upgrade and the state of the upgrade domain nodes at the time of the health evaluation. The check is performed after every upgrade domain upgrade completion for all completed upgrade domains to make sure the state of the upgrade domains is within tolerated limits. ",
                                                                                        "maximum": 100,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "maxPercentDeltaUnhealthyApplications",
                                                                                    "maxPercentDeltaUnhealthyNodes",
                                                                                    "maxPercentUpgradeDomainDeltaUnhealthyNodes"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "forceRestart": {
                                                                                "description": "If true, then processes are forcefully restarted during upgrade even when the code version has not changed (the upgrade only changes configuration or data).",
                                                                                "type": "boolean"
                                                                            },
                                                                            "healthCheckRetryTimeout": {
                                                                                "description": "The amount of time to retry health evaluation when the application or cluster is unhealthy before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format.",
                                                                                "type": "string"
                                                                            },
                                                                            "healthCheckStableDuration": {
                                                                                "description": "The amount of time that the application or cluster must remain healthy before the upgrade proceeds to the next upgrade domain. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format.",
                                                                                "type": "string"
                                                                            },
                                                                            "healthCheckWaitDuration": {
                                                                                "description": "The length of time to wait after completing an upgrade domain before performing health checks. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format.",
                                                                                "type": "string"
                                                                            },
                                                                            "healthPolicy": {
                                                                                "description": "The cluster health policy used when upgrading the cluster.",
                                                                                "properties": {
                                                                                    "maxPercentUnhealthyApplications": {
                                                                                        "description": "The maximum allowed percentage of unhealthy applications before reporting an error. For example, to allow 10% of applications to be unhealthy, this value would be 10. ",
                                                                                        "maximum": 100,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "maxPercentUnhealthyNodes": {
                                                                                        "description": "The maximum allowed percentage of unhealthy nodes before reporting an error. For example, to allow 10% of nodes to be unhealthy, this value would be 10. ",
                                                                                        "maximum": 100,
                                                                                        "minimum": 0,
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "upgradeDomainTimeout": {
                                                                                "description": "The amount of time each upgrade domain has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format.",
                                                                                "type": "string"
                                                                            },
                                                                            "upgradeReplicaSetCheckTimeout": {
                                                                                "description": "The maximum amount of time to block processing of an upgrade domain and revent loss of availability when there are unexpected issues. When this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues. The timeout is reset at the start of each upgrade domain. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format.",
                                                                                "type": "string"
                                                                            },
                                                                            "upgradeTimeout": {
                                                                                "description": "The amount of time the overall upgrade has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "healthCheckRetryTimeout",
                                                                            "healthCheckStableDuration",
                                                                            "healthCheckWaitDuration",
                                                                            "healthPolicy",
                                                                            "upgradeDomainTimeout",
                                                                            "upgradeReplicaSetCheckTimeout",
                                                                            "upgradeTimeout"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "upgradeMode": {
                                                                        "description": "The upgrade mode of the cluster when new Service Fabric runtime version is available.\n\n  - Automatic - The cluster will be automatically upgraded to the latest Service Fabric runtime version as soon as it is available.\n  - Manual - The cluster will not be automatically upgraded to the latest Service Fabric runtime version. The cluster is upgraded by setting the **clusterCodeVersion** property in the cluster resource.\n",
                                                                        "enum": [
                                                                            "Automatic",
                                                                            "Manual"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "vmImage": {
                                                                        "description": "The VM image VMSS has been configured with. Generic names such as Windows or Linux can be used.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "managementEndpoint",
                                                                    "nodeTypes"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The cluster resource\n",
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The error details.",
                                    "properties": {
                                        "code": {
                                            "description": "The error code.",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "The error message.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "List cluster resource",
                "tags": [
                    "Cluster"
                ],
                "x-ms-examples": {
                    "List clusters": {
                        "parameters": {
                            "api-version": "2017-07-01-preview",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "etag": "W/\"636462502169240745\"",
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster",
                                            "location": "eastus",
                                            "name": "myCluster",
                                            "properties": {
                                                "addonFeatures": [
                                                    "RepairManager",
                                                    "DnsService"
                                                ],
                                                "availableClusterVersions": [
                                                    {
                                                        "codeVersion": "6.0.219.9494",
                                                        "environment": "Windows",
                                                        "supportExpiryUtc": "9999-12-31T23:59:59.9999999"
                                                    }
                                                ],
                                                "azureActiveDirectory": {
                                                    "clientApplication": "some_random_guid",
                                                    "clusterApplication": "some_random_guid",
                                                    "tenantId": "some_random_guid"
                                                },
                                                "certificate": {
                                                    "thumbprint": "5F3660C715EBBDA31DB1FFDCF508302348DE8E7A",
                                                    "thumbprintSecondary": "361A93445450CC8F2FF747F74500E8044942DAFD",
                                                    "x509StoreName": "My"
                                                },
                                                "clientCertificateCommonNames": [
                                                    {
                                                        "certificateCommonName": "abc.com",
                                                        "certificateIssuerThumbprint": "5F3660C715EBBDA31DB1FFDCF508302348DE8E7A",
                                                        "isAdmin": true
                                                    }
                                                ],
                                                "clientCertificateThumbprints": [
                                                    {
                                                        "certificateThumbprint": "5F3660C715EBBDA31DB1FFDCF508302348DE8E7A",
                                                        "isAdmin": false
                                                    }
                                                ],
                                                "clusterCodeVersion": "6.0.219.9494",
                                                "clusterEndpoint": "92584666-9889-4ae8-8d02-91902923d37f",
                                                "clusterId": "92584666-9889-4ae8-8d02-91902923d37f",
                                                "clusterState": "WaitingForNodes",
                                                "diagnosticsStorageAccountConfig": {
                                                    "blobEndpoint": "https://diag.blob.core.windows.net/",
                                                    "protectedAccountKeyName": "StorageAccountKey1",
                                                    "queueEndpoint": "https://diag.queue.core.windows.net/",
                                                    "storageAccountName": "diag",
                                                    "tableEndpoint": "https://diag.table.core.windows.net/"
                                                },
                                                "fabricSettings": [
                                                    {
                                                        "name": "UpgradeService",
                                                        "parameters": [
                                                            {
                                                                "name": "AppPollIntervalInSeconds",
                                                                "value": "60"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "managementEndpoint": "https://myCluster.eastus.cloudapp.azure.com:19080",
                                                "nodeTypes": [
                                                    {
                                                        "applicationPorts": {
                                                            "endPort": 30000,
                                                            "startPort": 20000
                                                        },
                                                        "clientConnectionEndpointPort": 19000,
                                                        "durabilityLevel": "Bronze",
                                                        "ephemeralPorts": {
                                                            "endPort": 64000,
                                                            "startPort": 49000
                                                        },
                                                        "httpGatewayEndpointPort": 19007,
                                                        "isPrimary": true,
                                                        "name": "nt1vm",
                                                        "vmInstanceCount": 5
                                                    }
                                                ],
                                                "provisioningState": "Succeeded",
                                                "reliabilityLevel": "Silver",
                                                "reverseProxyCertificate": {
                                                    "thumbprint": "5F3660C715EBBDA31DB1FFDCF508302348DE8E7A",
                                                    "thumbprintSecondary": "361A93445450CC8F2FF747F74500E8044942DAFD",
                                                    "x509StoreName": "My"
                                                },
                                                "upgradeDescription": {
                                                    "deltaHealthPolicy": {
                                                        "applicationDeltaHealthPolicies": {
                                                            "myAppDeltaHealthPolicy": {
                                                                "defaultServiceTypeDeltaHealthPolicy": {
                                                                    "maxPercentDeltaUnhealthyServices": 100
                                                                },
                                                                "serivceTypeDeltaHealthPolicies": {
                                                                    "mySvcTypeDeltaHealthPolicy": {
                                                                        "maxPercentDeltaUnhealthyServices": 100
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "maxPercentDeltaUnhealthyApplications": 0,
                                                        "maxPercentDeltaUnhealthyNodes": 0,
                                                        "maxPercentUpgradeDomainDeltaUnhealthyNodes": 0
                                                    },
                                                    "forceRestart": true,
                                                    "healthCheckRetryTimeout": "00:05:00",
                                                    "healthCheckStableDuration": "00:00:30",
                                                    "healthCheckWaitDuration": "00:00:30",
                                                    "healthPolicy": {
                                                        "applicationHealthPolicies": {
                                                            "myAppHealthPolicy": {
                                                                "defaultServiceTypeHealthPolicy": {
                                                                    "maxPercentUnhealthyServices": 100
                                                                }
                                                            }
                                                        },
                                                        "maxPercentUnhealthyApplications": 100,
                                                        "maxPercentUnhealthyNodes": 100
                                                    },
                                                    "overrideUserUpgradePolicy": false,
                                                    "upgradeDomainTimeout": "00:15:00",
                                                    "upgradeReplicaSetCheckTimeout": "00:10:00",
                                                    "upgradeTimeout": "00:15:00"
                                                },
                                                "upgradeMode": "Manual",
                                                "vmImage": "Windows"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.ServiceFabric/clusters"
                                        },
                                        {
                                            "etag": "W/\"636462502164040075\"",
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster2",
                                            "location": "eastus",
                                            "name": "myCluster2",
                                            "properties": {
                                                "addonFeatures": [
                                                    "RepairManager"
                                                ],
                                                "availableClusterVersions": [
                                                    {
                                                        "codeVersion": "6.0.127.1",
                                                        "environment": "Linux",
                                                        "supportExpiryUtc": "9999-12-31T23:59:59.9999999"
                                                    }
                                                ],
                                                "clientCertificateCommonNames": [],
                                                "clientCertificateThumbprints": [],
                                                "clusterCodeVersion": "6.0.127.1",
                                                "clusterEndpoint": "2747e469-b24e-4039-8a0a-46151419523f",
                                                "clusterId": "2747e469-b24e-4039-8a0a-46151419523f",
                                                "clusterState": "WaitingForNodes",
                                                "diagnosticsStorageAccountConfig": {
                                                    "blobEndpoint": "https://diag.blob.core.windows.net/",
                                                    "protectedAccountKeyName": "StorageAccountKey1",
                                                    "queueEndpoint": "https://diag.queue.core.windows.net/",
                                                    "storageAccountName": "diag",
                                                    "tableEndpoint": "https://diag.table.core.windows.net/"
                                                },
                                                "fabricSettings": [
                                                    {
                                                        "name": "UpgradeService",
                                                        "parameters": [
                                                            {
                                                                "name": "AppPollIntervalInSeconds",
                                                                "value": "60"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "managementEndpoint": "http://myCluster2.eastus.cloudapp.azure.com:19080",
                                                "nodeTypes": [
                                                    {
                                                        "applicationPorts": {
                                                            "endPort": 30000,
                                                            "startPort": 20000
                                                        },
                                                        "clientConnectionEndpointPort": 19000,
                                                        "durabilityLevel": "Bronze",
                                                        "ephemeralPorts": {
                                                            "endPort": 64000,
                                                            "startPort": 49000
                                                        },
                                                        "httpGatewayEndpointPort": 19007,
                                                        "isPrimary": true,
                                                        "name": "nt1vm",
                                                        "vmInstanceCount": 5
                                                    }
                                                ],
                                                "provisioningState": "Succeeded",
                                                "reliabilityLevel": "Silver",
                                                "upgradeDescription": {
                                                    "deltaHealthPolicy": {
                                                        "maxPercentDeltaUnhealthyApplications": 0,
                                                        "maxPercentDeltaUnhealthyNodes": 0,
                                                        "maxPercentUpgradeDomainDeltaUnhealthyNodes": 0
                                                    },
                                                    "forceRestart": false,
                                                    "healthCheckRetryTimeout": "00:45:00",
                                                    "healthCheckStableDuration": "00:05:00",
                                                    "healthCheckWaitDuration": "00:05:00",
                                                    "healthPolicy": {
                                                        "maxPercentUnhealthyApplications": 100,
                                                        "maxPercentUnhealthyNodes": 100
                                                    },
                                                    "overrideUserUpgradePolicy": false,
                                                    "upgradeDomainTimeout": "02:00:00",
                                                    "upgradeReplicaSetCheckTimeout": "10675199.02:48:05.4775807",
                                                    "upgradeTimeout": "12:00:00"
                                                },
                                                "upgradeMode": "Manual",
                                                "vmImage": "linux"
                                            },
                                            "tags": {},
                                            "type": "Microsoft.ServiceFabric/clusters"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions": {
            "get": {
                "description": "List cluster code versions by location\n",
                "operationId": "ClusterVersions_List",
                "parameters": [
                    {
                        "description": "The location for the cluster code versions, this is different from cluster location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The customer subscription identifier",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - List cluster code versions successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list results of the ServiceFabric runtime versions.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "description": "The result of the ServiceFabric runtime versions",
                                                "properties": {
                                                    "id": {
                                                        "description": "The identification of the result",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the result",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "description": "The detail of the Service Fabric runtime version result",
                                                        "properties": {
                                                            "codeVersion": {
                                                                "description": "The Service Fabric runtime version of the cluster.",
                                                                "type": "string"
                                                            },
                                                            "environment": {
                                                                "description": "Indicates if this version is for Windows or Linux operating system.",
                                                                "enum": [
                                                                    "Windows",
                                                                    "Linux"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "supportExpiryUtc": {
                                                                "description": "The date of expiry of support of the version.",
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The result resource type",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "List cluster code versions by location",
                "tags": [
                    "ClusterVersion"
                ],
                "x-ms-examples": {
                    "List cluster versions": {
                        "parameters": {
                            "api-version": "2017-07-01-preview",
                            "location": "eastus",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.0.219.9494",
                                            "name": "6.0.219.9494",
                                            "properties": {
                                                "codeVersion": "6.0.219.9494",
                                                "environment": "Windows",
                                                "supportExpiryUtc": "9999-12-31T23:59:59.9999999"
                                            },
                                            "type": "Microsoft.ServiceFabric/locations/environments/clusterVersions"
                                        },
                                        {
                                            "id": "subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Linux/clusterVersions/6.0.127.1",
                                            "name": "6.0.127.1",
                                            "properties": {
                                                "codeVersion": "6.0.127.1",
                                                "environment": "Linux",
                                                "supportExpiryUtc": "9999-12-31T23:59:59.9999999"
                                            },
                                            "type": "Microsoft.ServiceFabric/locations/environments/clusterVersions"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}": {
            "get": {
                "description": "Get cluster code versions by location\n",
                "operationId": "ClusterVersions_Get",
                "parameters": [
                    {
                        "description": "The location for the cluster code versions, this is different from cluster location",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the API.",
                        "in": "query",
[...]
